// Needed because github switched the default branch name to "main" from "master" and there is a hardcoded bug in nextflow
manifest.defaultBranch = 'main'

// Default all process(es) to use the parallel environment 'serial'
process.penv = "serial"

process {
    errorStrategy = 'ignore'
    debug = true
}

profiles {
    instanceSizeLow {
        process {
            withName:RHP_VALIDATION {
                memory = "2G"
                cpus = 1
            }
        }
    }

    instanceSizeHigh {
        process {
            withName:RHP_VALIDATION {
                memory = "5G"
                cpus = 1
            }
        }
    }

    executorLocal {
        // Executor
        executor.name = 'local'
        executor.jobName = { "${task.label[0]}" + "_" + "${task.index}" }
	maxForks = 5 
    }

    executorGridEngine {
        // Executor
        executor.name = 'sge'
        executor.jobName = { "${task.label[0]}" + "_" + "${task.index}" }
        
        // Grid Engine
        clusterProject = "dna"
        defaultClusterOptions = "-S /bin/bash -P $clusterProject -m as -r yes -R yes";
        
        // Default cluster options with 1 hour run time for all processes
        process.clusterOptions = "$defaultClusterOptions -l d_rt=0:1:0"
    }
    
    environmentModule {}

    environmentContainer {
        process {
            withName:RHP_VALIDATION {
                container = '/net/nwgc/vol1/software/containers/nf-nwgc-rhp-validation/rhp_validation.1.5.15.sif'
            }
        }
        
        singularity {
            enabled = true
            autoMounts = true
        }
    }
}
